<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sidebar">
    <aside class="menu-lateral">
        <div class="logo-contenedor">
            <h2>AypateCond.</h2>
        </div>
        <nav class="navegacion-lateral">
            <a th:href="@{/reportes/dashboard}" class="enlace-menu">Dashboard</a>
            <a th:href="@{/gestion-condominio}" class="enlace-menu">Condominios</a>
            <a th:href="@{/gestion-unidades}" class="enlace-menu">Unidades</a>
            <a th:href="@{/areas-comunes}" class="enlace-menu">Áreas Comunes</a>
            <a th:href="@{/reservas}" class="enlace-menu">Reservas</a>
            <a th:href="@{/historial-titularidad}" class="enlace-menu">Historial Titularidad</a>
            <a th:href="@{/incidencias}" class="enlace-menu">Incidencias</a>
            
            
            <a sec:authorize="hasRole('ADMINISTRADOR')" th:href="@{/finanzas/gastos?tipo=FIJO}" class="enlace-menu">Gastos</a>
            <a sec:authorize="hasRole('ADMINISTRADOR')" th:href="@{/finanzas/estados-cuenta}" class="enlace-menu">Estados de Cuenta</a>
            <a sec:authorize="hasRole('RESIDENTE')" th:href="@{/finanzas/mi-estado-cuenta}" class="enlace-menu">Mi Estado de Cuenta</a>

            <a th:href="@{/auth/logout}" class="boton-secundario boton-salir" style="text-align: center;">Cerrar Sesión</a>
        </nav>
    </aside>
</body>
</html>
