.boton-primario,
.boton-secundario {
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radio-borde);
    font-weight: 500;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
}

.boton-primario {
    background-color: var(--primario);
    color: var(--blanco);
}

.boton-primario:hover {
    opacity: 0.9;
}

.boton-secundario {
    background-color: var(--secundario);
    color: var(--primario);
}

.boton-secundario:hover {
    opacity: 0.8;
}

.btn-tabla {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    text-decoration: none;

    font-family: var(--fuente-principal);
}

.btn-eliminar {
    color: var(--error);
    border-color: var(--error);
    font-family: var(--fuente-principal);
}

.btn-eliminar:hover {
    background-color: var(--error);
    color: var(--blanco);
}

.btn-accion {
    background-color: var(--primario);
    color: #ffffff;
    border-color: var(--primario);
    font-family: var(--fuente-principal);
}