.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cabecera-tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.tarjeta {
    background-color: var(--blanco);
    border-radius: var(--radio-borde);
    padding: 1.5rem;
    flex: 1 1 300px;
}
